# Our data folder
raw_data/
models/
# DS_Store is basically metadata from finder on mac
.DS_Store
# Byte-compiled / optimized / DLL files
__pycache__/
# Jupyter Notebook
.ipynb_checkpoints
# pyenv
.python-version
.pkl
.sav
